@charset 'UTF-8';
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600");
#chat{width:286px;height:273px;background:#191a1c;font-size:20px;margin:2px 2px 20px 2px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;display:inline-block; text-shadow:#000 1px 1px;border: 1px solid #fff;padding-top:2px;text-align:center;opacity:0.95;
	filter:alpha(opacity=95); font-weight:bold;}
.chatimages{
text-align: center;
margin:20px 2px 20px 2px;
width:280px;
height:229px;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
display:block;
border: 1px solid #fff;
image-rendering: crisp-edges;}
.chatimages:hover{
display:block;
margin:20px 2px 20px 2px;
width:280px;
height:229px;
-webkit-filter: grayscale(100%);
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
filter: gray; /* IE6-9 */
border: 1px solid #fff;}
.roomimage{width:230px;height:210px;
-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
		  border: 1px solid #fff;
		  display: block;
    margin: 0 auto;
		  image-rendering: crisp-edges;}
		  .roomimage:hover{margin:20px 2px 20px 2px;width:230px;height:210px;
		  -webkit-filter: grayscale(100%);
		  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
		   display: block;
    margin: 0 auto;border: 1px solid #fff;}
	/* Form */
		form
		{
			color: #000;
			font-weight:bold;
			text-align: center;
		}
			form label
			{
				display: block;
				text-align: left;
				margin-bottom: 0.5em;
			}
			form input[type="text"],
			form select,
			form textarea
			{
				position: relative;
				-webkit-appearance: none;
				display: inline-block;
				outline: 0;
				background: #fff;
				background: rgba(255,255,255,0.75);
				width: 88%;
				border-radius: 0.35em;
				padding: 0.75em 1em 0.75em 1em;
				box-shadow: inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05);
				border: solid 1px rgba(0,0,0,0.15);
				-moz-transition: all 0.35s ease-in-out;
				-webkit-transition: all 0.35s ease-in-out;
				-o-transition: all 0.35s ease-in-out;
				-ms-transition: all 0.35s ease-in-out;
				transition: all 0.35s ease-in-out;
			}

				form input[type="text"],
				form select
				{
					line-height: 1.25em;
				}

				form input[type="text"]:focus,
				form select:focus,
				form textarea:focus
				{
					box-shadow: 0 0 2px 1px #8ebebc;
					background: #fff;
				}
				
				form textarea
				{
					min-height: 14em;
				}

				form .formerize-placeholder
				{
					color: #555 !important;
				}

				form ::-webkit-input-placeholder
				{
					color: #555 !important;
				}

				form :-moz-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-placeholder
				{
					color: #555 !important;
				}

				form :-ms-input-placeholder
				{
					color: #555 !important;
				}

				form ::-moz-focus-inner
				{
					border: 0;
				}
.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 2.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
		}
		.icon:hover
					{
						color:#000;
						text-shadow:1px 1px 1px #fff;
					}
		.icon > .label {
			display: none;
		}
				ul
		{
		}

			ul.default
			{
				list-style: disc;
				padding-left: 1em;
			}
			
				ul.default li
				{
					padding-left: 0.5em;
				}		

			ul.icons
			{
				cursor: default;
			}	
			
				ul.icons li
				{
					display: inline-block;
				}
				
					ul.icons a
					{
						color: #ffce00;
						display: inline-block;
						width: 3em;
						height: 3em;
						line-height: 3em;
						text-align: center;
						border: 0;
						text-shadow:1px 1px 1px #000;
					}
					ul.icons a hover
					{
						color:#FFF;
					}
.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 2.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing:antialiased;
			-moz-osx-font-smoothing:grayscale;
		}
		.icon:hover
					{
						color:#000;
						text-shadow:1px 1px 1px #fff;
					}
		.icon > .label {
			display: none;
		}
				ul
		{
		}

			ul.default
			{
				list-style: disc;
				padding-left: 1em;
			}
			
				ul.default li
				{
					padding-left: 0.5em;
				}		

			ul.icons
			{
				cursor: default;
			}	
			
				ul.icons li
				{
					display: inline-block;
				}
				
					ul.icons a
					{
						color: #ffce00;
						display: inline-block;
						width: 3em;
						height: 3em;
						line-height: 3em;
						text-align: center;
						border: 0;
						text-shadow:1px 1px 1px #000;
					}
					ul.icons a hover
					{
						color:#FFF;
					}
body {
    font-family:'Roboto', sans-serif;
    color: #F60;
    line-height:1.2em;
    font-size:17px;
}
a {
    color:#F00;
    text-decoration: none;
}
a:hover {
    color: #ff6600;
    text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    margin: 10px;
}
p {
    padding: 10px;
    font-weight: bold;
    color: #000;
	text-align:center;
}